.zf-green {
    color: #68b604;
}
.navbar {
    border-radius: 0px;
}

a.navbar-brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 15px transparent;
    margin-left: 0;
    padding-left: 40px;
}

.errors {
    margin-top: 10px; 
    color: #b94a48;
}